.header_container {
  background: url("../images/2banner.png") center no-repeat;
  background-size: cover;
}

.article_container {
  box-sizing: border-box;
  height: 483px;
  padding-top: 78px;
  background: url("../images/brand-introduce.png") center no-repeat;
  background-size: cover;
}

.article_container h2 {
  margin-bottom: 24px;
}

.article_container .block {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 1180px;
  margin: 0 auto;
  margin-top: 56px;
}

.article_container .block .img-part {
  width: 438px;
  height: 230px;
  background-color: #c82d21;
  text-align: center;
  padding: 51px 0;
}

.article_container .block img {
  width: 195px;
  height: 127px;
}

.article_container .block table {
  width: 743px;
  height: 230px;
  box-sizing: border-box;
  background-color: #fff;
}

.article_container .block table td.align-middle {
  padding: 0 74px 0 52px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #656565;
  line-height: 34px;
}

.company_course {
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  background: url(../images/p-history-bg.png);
  background-position: bottom;
}

.company_course h2 {
  margin-bottom: 24px;
}

.company_course img {
  margin: 0 auto;
  margin-top: 84px;
}

.honor_display {
  box-sizing: border-box;
  padding-top: 91px;
  padding-bottom: 61px;
  text-align: center;
  background-color: #f7f7f7;
}

.honor_display h3 {
  margin: 24px 0 80px;
}

.store_display {
  padding-top: 100px;
  padding-bottom: 42px;
}

.store_display h3 {
  margin: 24px 0 44px;
}

.store_display .block {
  width: 984px;
  margin: 0 auto;
}

.store_display .block::after {
  display: block;
  content: "";
  clear: both;
}

.store_display .block img {
  width: 483px;
  height: 362px;
}

.store_display .block :nth-child(2n-1) {
  float: left;
}

.store_display .block :nth-child(2n) {
  float: right;
}

.store_display .block img {
  width: 483px;
  height: 362px;
  margin-bottom: 18px;
}

.store_place {
  height: 584px;
  box-sizing: border-box;
  padding-top: 104px;
  background: url("../images/brand-bg.png") center no-repeat;
  background-color: #f7f7f7;
  background-position: top;
}

.store_place h2 {
  margin-bottom: 24px;
}

.store_place p {
  text-align: center;
  width: 570px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #656565;
  line-height: 31px;
  margin: 0 auto;
}
