@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin float-left() {
    float: left;
}

@mixin float-right() {
    float: right;
}

.header_container {
    background: url('../images/2banner.png') center no-repeat;
    // background-size: 100% 340px;
    background-size: cover;
}

.article_container {
    box-sizing: border-box;
    height: 483px;
    padding-top: 78px;
    background: url('../images/brand-introduce.png') center no-repeat;
    // background-size: 100% auto;
    // background-position: top;
    // background-position-y: -124px;
    background-size: cover;

    h2 {
        margin-bottom: 24px;
    }

    .block {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        width: 1180px;
        margin: 0 auto;
        margin-top: 56px;

        .img-part {
            width: 438px;
            height: 230px;
            background-color: rgba(200, 45, 33, 1);
            text-align: center;
            padding: 51px 0;
        }

        img {
            width: 195px;
            height: 127px;
        }

        table {
            width: 743px;
            height: 230px;
            box-sizing: border-box;
            background-color: #fff;

            td.align-middle {
                padding: 0 74px 0 52px;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(101, 101, 101, 1);
                line-height: 34px;
            }
        }
    }

}

.company_course {
    box-sizing: border-box;
	padding-top: 80px;
	padding-bottom: 92px;
    display: flex;
    flex-direction: column;
	background: url(../images/p-history-bg.png);
	background-position: bottom;
    h2 {
        margin-bottom: 24px;
    }
	img{
		margin:0 auto;
		margin-top: 84px;
	}
}

.honor_display {
    box-sizing: border-box;
    padding-top: 91px;
    padding-bottom: 61px;
    text-align: center;
    background-color: #f7f7f7;

    h3 {
        margin: 24px 0 80px;
    }
}

.store_display {
    padding-top: 100px;
    padding-bottom: 42px;

    h3 {
        margin: 24px 0 44px;
    }

    .block {
        width: 984px;
        margin: 0 auto;
        @include clearfix;

        img {
            width: 483px;
            height: 362px;
        }

        & :nth-child(2n-1) {
            @include float-left;
        }

        & :nth-child(2n) {
            @include float-right;
        }

        img {
            width: 483px;
            height: 362px;
            margin-bottom: 18px;
        }
    }
}


.store_place {
    height: 584px;
    box-sizing: border-box;
    padding-top: 104px;
    background: url('../images/brand-bg.png') center no-repeat;
    background-color: rgba(247, 247, 247, 7);
    background-position: top;
    // background-size: cover;

    h2 {
        margin-bottom: 24px;
    }

    p {
        text-align: center;
        width: 570px;
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(101, 101, 101, 1);
        line-height: 31px;
        margin: 0 auto;
    }
}