/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Arial', 'Helvetica-Light', 'sans-serif';
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.menu-container {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: #c82d21;
}

.menu-container .logo_block {
  display: flex;
  align-items: center;
}

.menu-container .logo_block .logo {
  margin-right: 12px;
}

.menu-container .menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-container .menu-block .icon-menu {
  font-size: 26px;
  margin-left: 15px;
  color: #fff;
}

.menu-container a {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  margin-right: 25px;
}

.menu-container a:hover {
  color: #fff;
}

.menuList {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
  padding: 0 30px;
  background-color: #CBCBCB;
  display: none;
}

.menuList .oper {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: right;
}

.menuList .oper img {
  vertical-align: middle;
  cursor: pointer;
}

.menuList ul {
  display: flex;
  flex-direction: column;
  padding-left: 80%;
  width: 100%;
  height: 440px;
  margin-bottom: 80px;
  justify-content: space-around;
}

.menuList ul li a {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}

.menuList img.bg {
  position: absolute;
  left: 0;
  bottom: 25px;
}

header {
  margin-top: 70px;
  height: 340px;
  line-height: 340px;
  background-color: salmon;
  text-align: center;
  font-size: 42px;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
}

article {
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article h2 {
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

article h3 {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  margin-bottom: 16px;
}

section h3 {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

footer {
  box-sizing: border-box;
  height: 315px;
  min-width: 1180px;
  padding-top: 45px;
  padding-bottom: 35px;
  background: url(../images/foot-bg.png) 100%;
  background-color: #272824;
  display: flex;
}

footer .contact_container {
  width: 48%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 5%;
  justify-content: center;
}

footer .contact_container ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer .contact_container ul li {
  color: #fff;
}

footer .contact_container ul li a {
  color: rgba(255, 255, 255, 0.7);
}

footer .contact_container ul li:nth-child(1) {
  margin-bottom: 10px;
}

footer .company_container {
  width: 32%;
  height: 100%;
  border: 1px solid #646464;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
}

footer .company_container .address {
  display: flex;
}

footer .company_container .tel {
  display: flex;
}

footer .company_container .work-time {
  display: flex;
}

footer .company_container img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

footer .company_container h4 {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 600;
  color: white;
  line-height: 34px;
}

footer .company_container p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
}

footer .code {
  width: 20%;
  text-align: center;
}

footer .code img {
  width: 180px;
  height: 180px;
}
