@import 'reset';

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h-v-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin float-left() {
    float: left;
}

@mixin float-right() {
    float: right;
}

.menu-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 30px;
    @include center;
    justify-content: space-between;
    z-index: 99;
    background-color: rgb(200, 45, 33);

    box-shadow: 0 1px 0 0 rgb(200, 45, 33);

    .logo_block {
        display: flex;
        align-items: center;

        .logo {
            margin-right: 12px;
        }
    }

    .menu-block {
        @include center;
        cursor: pointer;

        a {
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            margin-right: 25px;

            &:hover {
                color: #fff;
            }
        }
    }
}

.menuList {
    width: 100%;
    // height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 100;
    padding: 0 30px;
    background-color: #CBCBCB;
    display: none;

    .oper {
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: right;

        img {
            vertical-align: middle;
            cursor: pointer;
        }

    }

    ul {
        display: flex;
        flex-direction: column;
        padding-left: 80%;
        width: 100%;
        height: 440px;
        margin-bottom: 80px;
        justify-content: space-around;

        li {
            // line-height: 24px;

            a {
                font-size: 24px;
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
            }
        }
    }

    img.bg {
        position: absolute;
        // width: 38%;
        left: 0;
        bottom: 25px;
    }
}

div.header_container {
    margin-top: 70px;
    height: 340px;
}

.shared {
    h2 {
        font-size: 28px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        margin-bottom: 16px;
        text-align: center;
        margin-bottom: 0;
    }

    h3 {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        text-align: center;
        margin-bottom: 0;
    }

    h4 {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        text-align: center;
        margin-bottom: 0;
    }
}

div#footer {
	background: url(../images/foot-bg.png) 100%;
	background-size: cover;
	background-color: #272824;
	display: flex;
	width: 100%;
}

div.footer {
    box-sizing: border-box;
    height: 341px;
    // width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 41px;
    display: flex;

    .contact_container {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        width: 40%;
		padding-left: 8%;
		padding-top: 10px;
        ul {
            flex: 1;
            display: flex;
            flex-direction: column;
            // align-items: center;

            li {
                color: #fff;
                font-size: 14px;
                font-family: PingFang SC;
                color: rgba(255, 255, 255, 1);
                margin-bottom: 15px;

                a {
                    font-size: 14px;
                    font-family: PingFang SC;
                    color: rgba(179, 179, 179, .7);
                }
            }

            li:nth-child(1) {
                margin-bottom: 26px;
            }
        }
    }

    .company_container {
        height: 100%;
        border: 1px solid #646464;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
        width: 25%;
        padding: 0 4%;

        .piece {
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;

            .address {
                display: flex;
                margin-top: 10px;
                margin-bottom: 67px;
            }

            .tel {
                display: flex;
            }

            .work-time {
                display: flex;
            }

            img {
                width: 36px;
                height: 36px;
                margin-right: 16px;
            }

            h4 {
                margin-bottom: 21px;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
            }

            p {
                margin-bottom: 0;
                font-size: 14px;
                font-family: PingFang SC;
                color: rgba(179, 179, 179, .7);
            }
        }

    }

    .code {
        width: 35%;
        padding-left:5%;

        h4 {
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 600;
			color: rgba(255, 255, 255, 1);
			margin-top: 10px;
			margin-bottom: 14px;
        }

        .block {
            @include clearfix;
			display: flex;
			justify-content: space-between;
            p {
                font-size: 14px;
                font-family: PingFang SC;
                color: rgba(255, 255, 255, 1);
            }

            div {
                @include float-left;
                text-align: center;
            }

            .qr {
				margin-left: 33px;
                img {
                    width: 151px;
					margin-bottom: 20px;
                }
            }

            .logo {
				// margin-left: 77px;
                img {
                    width: 151px;
					height: 151px;
					margin-bottom: 20px;
                }
            }
        }
    }
}

//1280 617
// @media screen and (max-width:768px) {
//     header {
// 		width: 100%;
// 	}
// 	footer{
// 		width: 100%;
// 	}
// }