.main_container {
  margin: 0 auto;
  width: 890px;
  padding-top: 58px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.main_container .item {
  margin-bottom: 40px;
}

.main_container .item h2 {
  border-left: 5px solid #C82D21;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  padding-left: 10px;
  margin-bottom: 20px;
}

.main_container .item p {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #656565;
}

.main_container .item form .form-group .form-control {
  border: none;
  background: #f7f7f7;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
}

.main_container .item form .form-group .form-control:focus {
  box-shadow: 0 0 0 0;
}

.main_container .item form .form-group textarea.form-control {
  resize: none;
}

.main_container .item form .form-textarea .form-control {
  height: 160px;
}

.main_container .item form button.submit {
  height: 45px;
  width: 132px;
  border-radius: 0;
  background-color: #272723;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #f7f7f7;
}

.main_container .item form button.submit:focus {
  box-shadow: 0 0 0 0;
}
