#header {
  height: 70px;
}

nav.product_container {
  position: fixed;
  top: 70px;
  padding-top: 55px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99;
}

nav.product_container .nav-tabs {
  width: 1392px;
  border-bottom: none;
  margin: 0 auto;
}

nav.product_container .nav-tabs .nav-link {
  border: none;
  padding: 0;
  border-radius: 0;
}

nav.product_container .nav-tabs .nav-link:focus {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

nav.product_container .nav-tabs .nav-item {
  width: 174px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #313131;
}

nav.product_container .nav-tabs .nav-link.active {
  background-color: #C82D21;
  color: #fff;
}

div.tab_product_container {
  background-color: #f7f7f7;
  min-height: 672px;
  padding-top: 156px;
  box-sizing: border-box;
}

div.tab_product_container .tab-pane h3 {
  box-sizing: border-box;
  padding-left: 100px;
  line-height: 146px;
  border-bottom: 1px solid #cecece;
  font-size: 42px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #c82d21;
  margin-bottom: 0;
}

div.tab_product_container .tab-pane .picture_piece {
  width: 1200px;
  padding: 10px 120px 0 120px;
  margin: 0 auto;
  margin-bottom: 0;
}

div.tab_product_container .tab-pane .picture_piece .nav-item:nth-child(4n) a .piece_item {
  margin-right: 0;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a.nav-link {
  padding: 0;
  text-align: center;
  background-color: transparent;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item {
  width: 192px;
  margin-right: 64px;
  margin-bottom: 30px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item div.border_item {
  width: 192px;
  height: 192px;
  border: 4px solid rgba(200, 45, 33, 0);
  margin-bottom: 20px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item div.border_item img {
  width: 184px;
  height: 184px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item span {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #323232;
}

div.tab_product_container .tab-pane .picture_piece .nav-item .nav-link.active div.border_item {
  border: 4px solid #c82d21;
  position: relative;
}

div.tab_product_container .tab-pane .picture_piece .nav-item .nav-link.active div.border_item::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 0 0 30px 30px;
  border-style: solid;
  border-color: transparent transparent transparent #c82d21;
  position: absolute;
}

div.tab_product_container .tab-pane .table_container {
  width: 100%;
  background-color: #efefef;
}

div.tab_product_container .tab-pane .table_container .tab-pane {
  width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  padding-top: 44px;
  padding-bottom: 27px;
  box-sizing: border-box;
}

div.tab_product_container .tab-pane .table_container .tab-pane h4 {
  font-size: 24px;
  font-family: PingFang SC;
  color: #c82d21;
  margin-bottom: 32px;
}

div.tab_product_container .tab-pane .table_container .tab-pane section {
  width: 985px;
}

div.tab_product_container .tab-pane .table_container .tab-pane section table.table {
  margin-bottom: 0;
}

div.tab_product_container .tab-pane .table_container .tab-pane section table.table thead tr {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #4f4f4f;
}

div.tab_product_container .tab-pane .table_container .tab-pane section table.table thead tr th {
  padding-top: 9px;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

div.tab_product_container .tab-pane .table_container .tab-pane section table.table tbody tr td {
  border-bottom: none;
  border-top: none;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #4f4f4f;
}

div.tab_product_container .tab-pane .table_container .tab-pane section table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}
