$basicWidth:1200px;

#header {
    height: 70px;
}

nav.product_container {
    // width: $basicWidth;
    // margin: 70px auto 0;
    // padding-top: 55px;
    position: fixed;
    top: 70px;
    padding-top: 55px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 99;

    .nav-tabs {
        width: 174*8px;
        border-bottom: none;
        margin: 0 auto;

        .nav-link {
            border: none;
            padding: 0;
            border-radius: 0;

            &:focus {
                border: none;
                outline: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
                -moz-tap-highlight-color: rgba(0, 0, 0, 0);
                -moz-tap-highlight-color: transparent;
                -ms-tap-highlight-color: rgba(0, 0, 0, 0);
                -ms-tap-highlight-color: transparent;
                -o-tap-highlight-color: rgba(0, 0, 0, 0);
                -o-tap-highlight-color: transparent;
            }
        }

        .nav-item {
            // width: $basicWidth/8;
            width: 174px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(49, 49, 49, 1);
        }

        .nav-link.active {
            background-color: #C82D21;
            color: #fff;
        }
    }
}

div.tab_product_container {
    // width: $basicWidth;
    // margin: 0 auto;
    background-color: rgb(247, 247, 247);
    min-height: 612px;
    padding-top: 156px;
    box-sizing: border-box;

    .tab-pane {

        // width: 1200px;
        // margin: 0 auto;
        h3 {
            box-sizing: border-box;
            padding-left: 100px;
            line-height: 146px;
            border-bottom: 1px solid rgba(206, 206, 206, 1);
            font-size: 42px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(200, 45, 33, 1);
            margin-bottom: 0;
        }

        .picture_piece {
            width: 1200px;
            padding: 10px 120px 0 120px;
            margin: 0 auto;
            margin-bottom: 0;

            .nav-item {
                &:nth-child(4n) {
                    a {
                        .piece_item {
                            margin-right: 0;
                        }
                    }
                }

                a {
                    &.nav-link {
                        padding: 0;
                        text-align: center;
                        background-color: transparent;
                    }

                    .piece_item {
                        width: 192px;
                        margin-right: 64px;
                        margin-bottom: 30px;

                        div.border_item {
                            width: 192px;
                            height: 192px;
                            border: 4px solid rgba(200, 45, 33, 0);
                            margin-bottom: 20px;

                            img {
                                width: 184px;
                                height: 184px;
                            }

                        }

                        span {
                            font-size: 14px;
                            font-family: PingFang SC;
                            font-weight: 400;
                            color: rgba(50, 50, 50, 1);
                        }
                    }
                }

                .nav-link.active {
                    div.border_item {
                        border: 4px solid rgba(200, 45, 33, 1);
                        position: relative;

                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-width: 0 0 30px 30px;
                            border-style: solid;
                            border-color: transparent transparent transparent rgba(200, 45, 33, 1);
                            position: absolute;

                        }
                    }
                }
            }

        }

        .table_container {
            width: 100%;
            background-color: #efefef;

            .tab-pane {
                width: 1200px;
                margin: 0 auto;
                padding-left: 120px;
                padding-top: 44px;
                padding-bottom: 27px;
                box-sizing: border-box;

                h4 {
                    font-size: 24px;
                    font-family: PingFang SC;
                    color: rgba(200, 45, 33, 1);
                    margin-bottom: 32px;
                }

                section {
                    width: 985px;

                    table.table {
                        margin-bottom: 0;

                        thead {
                            tr {
                                font-size: 14px;
                                font-family: PingFang SC;
                                font-weight: 500;
                                color: rgba(79, 79, 79, 1);

                                th {
                                    padding-top: 9px;
                                    padding-bottom: 10px;
                                    border-top: none;
                                    border-bottom: none;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    border-bottom: none;
                                    border-top: none;
                                    font-size: 14px;
                                    font-family: PingFang SC;
                                    font-weight: 500;
                                    color: rgba(79, 79, 79, 1);
                                }
                            }
                        }
                    }

                    table.table-striped {
                        tbody {
                            tr:nth-of-type(odd) {
                                background-color: rgba(0, 0, 0, 0.02);
                            }
                        }
                    }
                }
            }
        }
    }
}