nav.product_container {
  width: 1200px;
  margin: 70px auto 0;
  padding-top: 55px;
}

nav.product_container .nav-tabs {
  border-bottom: none;
}

nav.product_container .nav-tabs .nav-link {
  border: none;
  padding: 0;
}

nav.product_container .nav-tabs .nav-item {
  width: 150px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #323232;
}

nav.product_container .nav-tabs .nav-link.active {
  background-color: #C82E22;
  color: #FFFFFF;
}

div.tab_product_container {
  width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

div.tab_product_container .tab-pane h3 {
  box-sizing: border-box;
  padding-left: 100px;
  line-height: 146px;
  border-bottom: 1px solid #cecece;
  font-size: 42px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #c82d21;
  margin-bottom: 0;
}

div.tab_product_container .tab-pane .picture_piece {
  margin-bottom: 0;
  padding: 55px 120px 0 120px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item:nth-child(4n) a .piece_item {
  margin-right: 0;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a.nav-link {
  padding: 0;
  text-align: center;
  background-color: transparent;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item {
  width: 192px;
  margin-right: 64px;
  margin-bottom: 30px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item div.border_item {
  width: 192px;
  height: 192px;
  border: 4px solid rgba(200, 45, 33, 0);
  margin-bottom: 20px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item div.border_item img {
  width: 184px;
  height: 184px;
}

div.tab_product_container .tab-pane .picture_piece .nav-item a .piece_item span {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #323232;
}

div.tab_product_container .tab-pane .picture_piece .nav-item .nav-link.active div.border_item {
  border: 4px solid #c82d21;
}

div.tab_product_container .tab-pane .table_container {
  padding-left: 120px;
  background: #EFEFEF;
}

div.tab_product_container .tab-pane .table_container .tab-pane h4 {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #c82d21;
  margin-bottom: 44px;
}

div.tab_product_container .tab-pane .table_container .tab-pane section {
  width: 985px;
  /*height: 385px;*/
}

div.tab_product_container .active {
  padding-top: 44px;
  padding-bottom: 27px;
}
