@import 'reset';

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @include center
#dowebok {
    .section {
        text-align: center;
        font: 50px "Microsoft Yahei";
        color: #fff;

        .fp-controlArrow.fp-prev,
        .fp-controlArrow.fp-next {
            border-width: 0;
        }

        &.part6 {
            background: url(../images/4.jpg) 50%;

            .fp-tableCell {
                box-sizing: border-box;
                display: flex;
                padding: 160px 190px 70px 270px;

                .introduce-container {
                    width: 40%;
                    // flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-right: 50px;
                    box-sizing: border-box;

                    .icon {
                        font-size: 20px;
                        margin-right: 20px;
                        padding-top: 8px;
                    }

                    .address {
                        display: flex;

                        .icon-location2 {
                            font-size: 24px;
                        }
                    }

                    .tel {
                        display: flex;

                    }

                    .work-time {
                        display: flex;
                    }

                    .QRcode {
                        width: 180px;
                        height: 180px;
                        background-color: #fff;

                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        text-align: left;

                        h4 {
                            font-size: 16px;
                            font-family: PingFang SC;
                            font-weight: 600;
                            color: rgba(255, 255, 255, 1);
                            line-height: 34px;
                        }

                        p {
                            font-size: 16px;
                            font-family: PingFang SC;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                            opacity: 0.7;
                        }
                    }
                }

                .apply-container {
                    width: 60%;
                    // width: 685px;
                    // height: 566px;
                    background: #C72D21;
                    box-sizing: border-box;
                    padding: 80px 80px 60px 85px;

                    .word-tip {
                        display: flex;
                        align-items: center;
                        margin-bottom: 34px;

                        h4 {
                            font-size: 28px;
                            font-family: PingFang SC;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 1);
                            margin-right: 28px;
                        }

                        span {
                            font-size: 20px;
                            font-family: PangMenZhengDao;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                        }
                    }

                    form {
                        display: flex;
                        flex-direction: column;

                        .form-group {
                            margin-bottom: 16px;

                            .form-control {
                                border: none;
                                background: rgba(247, 247, 247, 1);
                                border-radius: 0;
                                font-size: 14px;
                            }

                            input.form-control {
                                height: 50px;
                            }

                            textarea.form-control {
                                height: 160px;
                                resize: none;
                            }

                            .form-control:focus {
                                // border-color: transparent; 
                                // outline: 0;  
                                box-shadow: 0 0 0 0;
                            }
                        }

                        button.submit {
                            height: 45px;
                            width: 132px;
                            border-radius: 0;
                            background-color: #272723;
                            font-size: 14px;
                            font-family: PingFang SC;
                            font-weight: 500;
                            color: rgba(247, 247, 247, 1);

                            &:focus {
                                box-shadow: 0 0 0 0;
                            }
                        }
                    }
                }
            }

        }
    }
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    z-index: 70;
    display: flex;
    flex-direction: column;

    li {
        margin: 0 10px 0 0;
        font-size: 14px;

        &.white a {
            color: #fff;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        font-size: 19px;


        strong {
            font-size: 24px;
            margin-right: 20px;
        }
    }

    .active a {
        color: #C82D21;
    }
}

.menu-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 30px;
    // background: transparent;
    // background: rgba(255,255,255 ,0.0);
    // background: rgba(200, 45, 33, 1);
    // opacity: 0;

    @include center;
    justify-content: space-between;
    z-index: 99;

    .menu-block {
        @include center;

        .icon-menu {
            font-size: 26px;
            margin-left: 15px;
            color: #fff;
        }
    }

    a {
        font-size: 20px;
    }
}

.menuAnchor {
    background: transparent;
}

.menuList {
    width: 100%;
    height: 892px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
	z-index: 100;
	padding: 0 30px;
	background-color: salmon;
}