/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Arial', 'Helvetica-Light', 'sans-serif';
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

#dowebok .section {
  text-align: center;
  font: 50px "Microsoft Yahei";
  color: #fff;
}

#dowebok .section .fp-controlArrow.fp-prev,
#dowebok .section .fp-controlArrow.fp-next {
  border-width: 0;
}

#dowebok .section.part3 {
  background: url(../images/part3-bg2x.png) 100%;
  background-position: bottom;
}

#dowebok .section.part3 .brand {
  width: 62%;
  height: 60%;
  background-color: #fff;
  padding: 98px 14% 94px 18%;
  margin-left: 30%;
  position: relative;
}

#dowebok .section.part3 .brand .introduce {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

#dowebok .section.part3 .brand .introduce h3 {
  width: 100%;
  font-size: 34px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-align: left;
}

#dowebok .section.part3 .brand .introduce p {
  width: 100%;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #656565;
  line-height: 34px;
  text-align: left;
}

#dowebok .section.part3 .brand .introduce div {
  height: 12px;
  border: 1px solid #c72d21;
  border-left: none;
  border-right: none;
}

#dowebok .section.part3 .brand .logo {
  height: 68%;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-60%, -50%);
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#C82D21), to(#C82D21));
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe;
  -webkit-animation-duration: 2700ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

#dowebok .section.part3 .brand .logo img {
  height: 100%;
}

#dowebok .section.part4 .process_container {
  padding-left: 275px;
  padding-right: 234px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#dowebok .section.part4 .process_container h3 {
  font-size: 34px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin-bottom: 22px;
}

#dowebok .section.part4 .process_container p {
  text-align: center;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #828282;
  margin-bottom: 40px;
}

#dowebok .section.part4 .process_container .join_container {
  display: flex;
  flex-wrap: wrap;
}

#dowebok .section.part4 .process_container .join_container .block {
  display: flex;
  width: 100%;
}

#dowebok .section.part4 .process_container .join_container .block.line1 {
  margin-bottom: 120px;
}

#dowebok .section.part4 .process_container .join_container .block.line2 {
  padding: 0 10%;
}

#dowebok .section.part4 .process_container .join_container .item {
  height: 180px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#dowebok .section.part4 .process_container .join_container .item img {
  width: 77px;
  height: 76px;
}

#dowebok .section.part4 .process_container .join_container .item h4 {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

#dowebok .section.part4 .process_container .join_container .item span {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #656565;
}

#dowebok .section.part4 .process_container .join_container .arrow {
  width: 38px;
  display: flex;
  align-items: center;
  margin: 0 30px;
}

#dowebok .section.part5 .fp-tableCell {
  padding-top: 6%;
}

#dowebok .section.part5 .outlet_container {
  height: 84%;
  display: flex;
  justify-content: flex-end;
}

#dowebok .section.part5 .outlet_container img {
  height: 100%;
  margin-right: 10px;
}

#dowebok .section.part5 .outlet_container img.half {
  margin-right: 0;
}

#dowebok .section.part6 {
  background: url(../images/foot-bg2x.png) 100%;
  background-position: bottom;
}

#dowebok .section.part6 .fp-tableCell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

#dowebok .section.part6 .fp-tableCell .introduce-container {
  width: 430px;
  height: 566px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 50px;
  box-sizing: border-box;
}

#dowebok .section.part6 .fp-tableCell .introduce-container img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .address {
  display: flex;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .tel {
  display: flex;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .work-time {
  display: flex;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .QRcode {
  width: 180px;
  height: 180px;
  background-color: #fff;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .QRcode img {
  width: 100%;
  height: 100%;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .item h4 {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 600;
  color: white;
  line-height: 34px;
}

#dowebok .section.part6 .fp-tableCell .introduce-container .item p {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  opacity: 0.7;
}

#dowebok .section.part6 .fp-tableCell .apply-container {
  width: 685px;
  height: 566px;
  background: #C72D21;
  box-sizing: border-box;
  padding: 80px 80px 60px 85px;
}

#dowebok .section.part6 .fp-tableCell .apply-container .word-tip {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

#dowebok .section.part6 .fp-tableCell .apply-container .word-tip h4 {
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  margin-right: 28px;
}

#dowebok .section.part6 .fp-tableCell .apply-container .word-tip span {
  font-size: 20px;
  font-family: PangMenZhengDao;
  font-weight: 400;
  color: white;
}

#dowebok .section.part6 .fp-tableCell .apply-container form {
  display: flex;
  flex-direction: column;
}

#dowebok .section.part6 .fp-tableCell .apply-container form .form-group {
  margin-bottom: 16px;
}

#dowebok .section.part6 .fp-tableCell .apply-container form .form-group .form-control {
  border: none;
  background: #f7f7f7;
  border-radius: 0;
  font-size: 14px;
}

#dowebok .section.part6 .fp-tableCell .apply-container form .form-group input.form-control {
  height: 50px;
}

#dowebok .section.part6 .fp-tableCell .apply-container form .form-group textarea.form-control {
  height: 160px;
  resize: none;
}

#dowebok .section.part6 .fp-tableCell .apply-container form .form-group .form-control:focus {
  box-shadow: 0 0 0 0;
}

#dowebok .section.part6 .fp-tableCell .apply-container form button.submit {
  height: 45px;
  width: 132px;
  border-radius: 0;
  background-color: #272723;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #f7f7f7;
}

#dowebok .section.part6 .fp-tableCell .apply-container form button.submit:focus {
  box-shadow: 0 0 0 0;
}

#menu {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  z-index: 70;
  display: flex;
  flex-direction: column;
}

#menu li {
  margin: 0 10px 0 0;
  font-size: 14px;
}

#menu a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-size: 19px;
}

#menu a strong {
  font-size: 24px;
  margin-right: 20px;
}

#menu .active a {
  color: #C82D21;
}

.menu-container {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.menu-container .logo_block {
  display: flex;
  align-items: center;
}

.menu-container .logo_block .logo {
  margin-right: 12px;
}

.menu-container .menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-container .menu-block .icon-menu {
  font-size: 26px;
  margin-left: 15px;
  color: #fff;
}

.menu-container a {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  margin-right: 25px;
}

.menu-container a:hover {
  color: #fff;
}

.menuAnchor {
  background: transparent;
}

.menuList {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
  padding: 0 30px;
  background-color: #CBCBCB;
  display: none;
}

.menuList .oper {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: right;
}

.menuList .oper span {
  cursor: pointer;
}

.menuList ul {
  display: flex;
  flex-direction: column;
  padding-left: 80%;
  width: 100%;
  height: 440px;
  margin-bottom: 80px;
  justify-content: space-around;
}

.menuList ul li a {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}

@-webkit-keyframes breathe {
  0% {
    opacity: .5;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    box-shadow: 10px 36px 46px 10px rgba(200, 45, 33, 0.16);
  }
}
