/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Arial', 'Helvetica-Light', 'sans-serif';
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}

#wrapper{
    width:1600px;
    margin: 0 auto;
}

#nav{
    margin: 0 auto;
    height: 160px;
    font-size: 20px;
}
.nav li{
    padding-top: 114px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav a{
    font-size: 20px;
    color: black !important;
}

.nav .active{
    background-color: #D5D5D5 !important;
    border: 0 !important;
}

#navbar{
    height: 70px;
    background: rgb(200, 45, 33);
    display: flex;
}

#navbar .logo_block{
    align-items: center;
    display: flex;
}

#navbar .menu_block{
    align-items: center;
    justify-content: center;
    display: flex;
}


hr{
    width: 80%;
    margin: 40px auto !important;
}

.jumbotron_row{
    width: 60% !important;
    margin: 0 auto !important;
}

.jumbotron_row p{
    padding: 20px;
}

.jumbotron_row table{
    margin-bottom: 0;
}

.product{
    background-color: #D5D5D5;
}

.nav_title{
    color: red !important;
    padding-top: 40px !important;
    padding-left: 15% !important;
}

.table{
    text-align:center;
}

.line_f{
    color: red;
}

.list_f{
    background-color: #dee2e6;
}

.list_w{
    background-color: white;
}

.detail_row{
    background-color: #A2A2A2;
}

.detail{
    width: 80%;
    margin: 0 auto;
}

.detail th{
    border: 0 !important;
}

.detail td{
    border: 0 !important;
}

.detail h4{
    padding-top: 40px;
    padding-bottom: 40px;
    color: red;
}

.detail table{
    margin-bottom: 0;
    background-color: white;
    height: 60%;
    border: 0;
}

.footer{
    width: 1600px;
    height: 315px;
    margin: 0 auto !important;
    background: #272824 url(../images/foot-bg2x.png) 100%;
}

.footer th{
    border-top: 0px !important;
    border-bottom: 0px !important;
    color: white;
    font-size: 20px;
}

.footer td{
    border-top: 0px !important;
    color: white;
    font-size: 15px;
    opacity: .7;
}

.fb{
    height: 278px;
    border-right: white 2px solid;
    font-size: 16px;
    color: white;
}

.fb h4{
    font-size: 16px;
    color: white;
}

.fb p{
    font-size: 16px;
    color: white;
    opacity: .7;
}

.address{
    margin: 15px auto;
    display: flex;
}

.address img{
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.item{
    display: flex;
    flex-direction: column;
    text-align: left;
}

