@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin float-left() {
    float: left;
}

@mixin float-right() {
    float: right;
}

.header_container {
    background: url('../images/5banner.png') center no-repeat;
    background-size: 100% 340px;
}

.main-block {
    padding-top: 65px;
    // padding-left: 352px;
    width: 708px;
    margin: 0 auto;
    padding-bottom: 94px;
    .item {
        h2 {
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            border-left: 5px solid rgba(200, 45, 33, 1);
            padding-left: 10px;
        }

        p {
            font-size: 14px;
            font-family: PingFang SC;
            color: rgba(101, 101, 101, 1);
        }

        ul {
            @include clearfix;
            width: 708px;

            li {
                @include float-left;
                width: 177px;
                text-align: center;
            }
        }

        &.job {
            ul {
                li {
                    height: 188px;
                    box-sizing: border-box;
                    padding-top: 36px;

                    img {
                        &.job1 {
                            margin-bottom: 13px;
                        }

                        &.job2 {
                            margin-top: 7px;
                            margin-bottom: 21px;
                        }

                        &.job3 {
                            margin-top: 8px;
                            margin-bottom: 22px;
                        }

                        &.job4 {
                            margin-top: 6px;
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }

        &.welfare {
            h2{
                margin-bottom: 46px;
            }
            ul {
                li {
                    box-sizing: border-box;
                    height: 212px;
                    padding-top: 64px;
                    border-right: 1px solid rgba(229, 229, 229, 1);
                    border-bottom: 1px solid rgba(229, 229, 229, 1);

                    &:nth-child(4n) {
                        border-right: none;
                    }

                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3),
                    &:nth-last-child(4) {
                        border-bottom: none;
                    }

                    img {
                        &.welfare5 {
                            margin-bottom: 34px;
                        }

                        &.welfare6 {
                            margin-bottom: 27px;
                        }

                        &.welfare7 {
                            margin-top: 5px;
                            margin-bottom: 34px;
                        }

                        &.welfare8 {
                            margin-top: 2px;
                            margin-bottom: 30px;
                        }

                        &.welfare9 {
                            margin-bottom: 34px;
                        }

                        &.welfare10 {
                            margin-bottom: 30px;
                        }

                        &.welfare11 {
                            margin-bottom: 22px;
                        }

                        &.welfare12 {
                            margin-top: 4px;
                            margin-bottom: 28px;
                        }

                        &.welfare13 {
                            margin-bottom: 34px;
                        }

                        &.welfare14 {
                            margin-bottom: 33px;
                        }

                        &.welfare15 {
                            margin-bottom: 27px;
                        }

                        &.welfare16 {
                            margin-top: 3px;
                            margin-bottom: 36px;
                        }
                    }
                }
            }
        }
    }
}